#old-docs-notice {
    background-color: #ffffa0;
    color: black;
    padding-left: 1em;
    margin-top: .5em;
    border-radius: 5px;
}

#old-docs-notice a {
    color: blue;
    text-decoration: underline;
}
#old-docs-notice a:visited {
    color: purple;
}

@media (prefers-color-scheme: dark) {
    div#old-docs-notice {
      background-color: #54542d;
      color: white;
  }
}
