# for linguist
jquery.js linguist-vendored
jquery*.js linguist-vendored
searchindex.js linguist-vendored
dynsections.js linguist-vendored
documentation_options.js linguist-vendored
sphinx_highlight.js linguist-vendored
sidebar.js linguist-vendored
doctools.js linguist-vendored
searchtools.js linguist-vendored
language_data.js linguist-vendored
