body {
  padding: 0;
  margin: 0;
  background-color: white;
}

pre {
  font-size: 9pt;
  text-align: left;
  position: fixed;
  padding: 0;
  margin: 0;
  color: #666;
  font-family: Menlo, Monaco, monospace;
}

.fish-head {
  right: -10px;
  top: 10px;
}

.fish-foot {
  top: 350px;
  left: 0;
}

.content {
  width: 100%;
  margin-top: 120px;
  text-align: center;
  font-size: 128pt;
  font-family: Menlo, Monaco, monospace;
}

.content a {
  font-size: 18pt;
}
