body.tutorial_body {
	font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
	font-size: 13pt;
}

body.gradient_body {
	padding:0;
	font-size: 13pt;
	margin: 30px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: Verdana, sans-serif;
    color: white;

	background: rgb(17,43,94); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(17,43,94,1) 0%, rgba(198,242,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,43,94,1)), color-stop(100%,rgba(198,242,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(17,43,94,1) 0%,rgba(198,242,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(17,43,94,1) 0%,rgba(198,242,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(17,43,94,1) 0%,rgba(198,242,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(17,43,94,1) 0%,rgba(198,242,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#112b5e', endColorstr='#c6f2ff',GradientType=0 ); /* IE6-9 */

	height: 100%;
	background-attachment: fixed;
}

.hero {
	line-height: normal;
	font-size: 30pt;
	letter-spacing: 2px;
	font-family: Verdana, mono;
	font-weight: bold;
	margin: 15px 15px 5px 15px;
    color: white;
    position: relative;
    top: 10px;
}

#platform_tabs {
	font-weight: bold;
}

.download_tabs {
	min-height: 100px;
	border-color: #ddd;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	background-color: #ffffff;
	padding: 10px 20px;
}

.download_tab div {
	text-align: center;
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 200px;
	border: solid #AAA 1px;
	border-radius: 5px;
	padding: 5px;
	min-height: 180px;
}

.download_tab small {
	display: block;
	padding: 0px 12px;
	font-size: smaller;
}

.download_tab h4 {
	font-weight: normal;
	text-decoration: underline;
	margin-bottom: 20px;
}

small.left_align {
	text-align: left;
	width: 176px; /* = download_tab.min-width - 2 * download_tab small padding */
}

.download_tab img {
	width: 64px;
	height: 64px;
}

.container-narrow {
	color: #222;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 30px;
	background-color: #EEEEFA;
	border-radius: 14px;
	position: relative;

	margin: 0 auto;
	margin-top: 25px;
	max-width: 800px;
	
  -moz-box-shadow:    0px 0px 1px 1px #333;
  -webkit-box-shadow: 0px 0px 1px 1px #333;
  box-shadow:         0px 0px 5px 1px #333;

}

hr {
	border-top: 1px solid #CCF;
	border-bottom: 1px solid #FFF;
}

ul li {
	margin-bottom: 6px;
}

.nav-tabs {
	margin-bottom: 0px;
}

.mono {
	font-family: Courier, "Courier New", monospace;
	font-size: 11pt;
}

#ancestor {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.fish_header {
	font-size: 30pt;
}

.fish_header a {
	text-decoration: none;
	color: inherit;
}

#parent {
	font-family: Helvetica, "Helvetica Neue", sans-serif;
	color: #383838;
	margin-top: 20px;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 30px;
	background-color: #EEEED4;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
}

.shadow {
  -moz-box-shadow:    0px 0px 1px 1px #333;
  -webkit-box-shadow: 0px 0px 1px 1px #333;
  box-shadow:         0px 0px 3px 1px #333;
}


.headline {
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 0px;
	font-size: 30pt;
	width: 400px;
}

.headline_sub {
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 0px;
	width:400px;
	font-size: 14pt;
}

#fish_icon {
	float: right;
	margin-right: 80px;
	margin-top: 15px;
	width: 200px;
	height: 120px;
	/*border: 3px dashed black;*/
}

#fish_icon_img {
	float: right;
	margin-right: 80px;
	margin-top: 15px;
	width: 246px;
	height: 172px;
	position: relative;
	bottom: 15px;
	left: 25px;
}

.promo_table {
	display: table;
	width: 100%;
}

.promo_table_row {
	display: table-row;
}

.promo_table_cell {
	width: 400px;
	min-height: 100px;
	display: table-cell;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
}

.promo_table_left {
	padding-left: 0px;
	padding-right: 25px;
}

.promo_table_right {
	padding-left: 25px;
	padding-right: 0px;
}

h3 {
	margin-bottom: 12px;
}

.thin_separator {
	width: 100%;
	border-bottom: 1px solid #AA9;
}

.promo_image {
	float: right;
	width: 100px;
	height: 100px;
	border: 3px dashed #333;
	position: relative;
	bottom: 10px;
	margin-left: 15px;
	overflow: hidden;
}

.promo_image img {
	border-style: none;
}

#autosuggestion {}
#vga {}
#man_completions {}
#web_config {}

.fish_logo {
	width: 320px;
	height: 240px;
	position: relative;
	bottom: 45px;
	right: 55px;
}

#fish_icon pre {
	font-weight: bold;
	font-size: 10pt;
	position: relative;
	bottom: 60px;
	right: 80px;
	color: #006090;
}

.install_float {
	float: left;
	text-align: center;
	border-radius: 6px;
	padding: 8px;
	border: 1px solid #888;
	background-color: #FFFFD8;
	font-size: 13pt;
	margin: 10px;
}

.install_icon {
	width: 48px;
	height: 48px;
	margin-top: 10px;
}

.nounderline {
	text-decoration: none;
}

.install_button {
	display: block;
	width: 128px;
	height: 24px;
	border: solid 1px #606080;
	padding: 10px;
	color: white;
	border-radius: 5px;
	text-align: center;
	line-height: 24px;
	font-size: 18pt;
	margin-top: 25px;
	
	background: rgb(95,169,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(95,169,226,1) 3%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(30,87,153,1) 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(95,169,226,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(95%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(95,169,226,1) 3%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(30,87,153,1) 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(95,169,226,1) 3%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(30,87,153,1) 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(95,169,226,1) 3%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(30,87,153,1) 95%); /* IE10+ */
	background: linear-gradient(top,  rgba(95,169,226,1) 3%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(30,87,153,1) 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.faq_question {
	font-size: 13pt;
}

.faq_answer {
	margin-left: 25px;
}
