/* BEGIN bootstrap nick */
/* MIT License applies to this block */
body {
    line-height: 20px;
}

img, video {
    max-width: 100%;
    max-height: fit-content;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1, h2, h3 {
    line-height: 40px;
}

h1 {
    font-size: 38.5px;
}

h3 {
    font-size: 24.5px;
}

.lead {
    font-size: 21px;
}

p {
    margin: 0 0 10px;
}

hr {
    border: 0;
    border-top: 1px solid #CCF;
    border-bottom: 1px solid #FFF;
}


.btn {
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--btn-color);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    font-size: larger;
    color: rgb(0, 85, 128);
    padding: 11px 19px;
}

.btn:hover {
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
    background-image: unset;
}

a, label {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

a:hover, a:active {
    outline: 0;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > label {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > label, .nav-pills > li > label {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav > li > label {
    display: block;
}

.nav-tabs > li > label:hover {
    border-color: #eee #eee #ddd;
}

.nav > li > label:hover {
    text-decoration: none;
    background-color: #eee;
}
/* END bootstrap nick */

.gradient_body {
    font-size: 13pt;
    margin: 30px 0;
    padding: 0 10px;
    font-family: "Segoe UI", system-ui, sans-serif;

    background: #a7cfdf; /* Old browsers */
    background: var(--outer-background);

    height: 100%;
    background-attachment: fixed;
}

#platform_tabs {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.download_tabs {
    min-height: 100px;
    border: 1px solid var(--border-color);
    border-top-width: 0;
    background-color: var(--active-color);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

#tab1:is(:hover, :checked) ~ .download_tabs {
    border-radius: 0 5px 5px 5px;
}

.over-pos {
    overflow: visible;
    position: relative;
}

.download_tab > div {
    text-align: center;
    display: inline-block;
    margin: 10px;
    min-width: 235px;
    border: solid #AAA 1px;
    border-radius: 5px;
    padding: 5px;
    min-height: 160px;
    vertical-align: top;
}

.download_tab img {
    height: 64px;
    width: auto;
}

.download_tab h4 {
    font-weight: normal;
    margin-bottom: 20px;
}

.download_tab a {
    text-decoration: underline;
}

/* Put link between name and icon */
.block_links div > a {
    display: block;
}

/* Space below the Linux images */
.linux_tabs img {
    margin-bottom: 5px;
    margin-top: 15px;
}

#get_fish_linux img {
    max-height: 64px;
    width: auto;
    height: auto;
}

.container-narrow {
    padding: 10px 50px 30px;
    background-color: var(--main-background);
    border-radius: 14px;
    position: relative;

    margin: 25px auto 0;

    -moz-box-shadow: 0 0 1px 1px #333;
    -webkit-box-shadow: 0 0 1px 1px #333;
    box-shadow: 0 0 5px 1px #333;
    max-width: 1270px;
}

body, .container-narrow, .jumbotron, .lead, .btn,
.post_list li, .post_title {
    color: var(--text-color);
}

ul li {
    margin-bottom: 6px;
}

.nav-tabs {
    margin-bottom: 0;
}

.mono {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, "Ubuntu Mono", "Hack", "Noto Sans Mono", Liberation Mono, monospace;
    font-size: 11pt;
}

.shadow {
    -moz-box-shadow: 0 0 1px 1px #333;
    -webkit-box-shadow: 0 0 1px 1px #333;
    box-shadow: 0 0 3px 1px #333;
}

.promo_table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.promo_table_cell {
    flex: 1 1 470px;
    min-height: 100px;
}

h3 {
    margin-bottom: 12px;
}

.promo_image {
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    margin-bottom: 3px;
    border-radius: 5px;
}

.promo_image > a, .promo_image > a > img {
    /* For reasons unclear to me,
    this makes the image the same size as the link,
    with no gap at the bottom */
    vertical-align: bottom;
}

.fish_logo {
    width: 320px;
    height: 240px;
    position: relative;
    bottom: 45px;
    right: 55px;
}

.nounderline {
    text-decoration: none;
}

.arrow_box {
    position: relative;
    background: #FFF;
    border: 2px solid #ccd6d9;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border: 12px rgba(255, 255, 255, 0);
    border-bottom-color: #FFF;
    left: 50%;
    margin-left: -12px;
}

.arrow_box:before {
    border: 15px rgba(204, 214, 217, 0);
    border-bottom-color: #ccd6d9;
    left: 50%;
    margin-left: -15px;
}

#app_explanation {
    display: none;
    position: absolute;
    margin-top: 10px;
    min-height: 0;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    font-size: smaller;
    cursor: pointer;
}

.container-narrow > hr {
    margin: 20px 0;
}

.jumbotron {
    margin: 36px 0;
    position: relative;
    /* Put above Logo */
    z-index: 50;
    background-color: var(--jumbotron-color);
    width: fit-content;
    border-radius: 5px;
    padding: 0 1em;
}

.jumbotron h1 {
    line-height: normal;
}

.lead {
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: normal;
    font-weight: normal;
}

.logo {
    float: right;
    width: 255px;
    height: 255px;
    position: relative;
    left: 5px;
    bottom: 15px;
    margin-left: -100%;
}

.app-download {
    width: 110px;
    height: 110px;
    position: relative;
    bottom: 28px;
    margin-bottom: -45px;
}

.release-notes-title {
    font-size: 14pt;
}

.releases-list {
    list-style-type: circle;
}

.from-git {
    margin: 20px 0 20px 25px;
}

.app-filesize {
    margin-bottom: 1px;
}

.app-sha256 {
    font-size: 10pt;
    overflow-x: scroll;
}

.boldlinks a {
  font-weight: bold;
}

.post_list {
    list-style-type: none;
}

.post_list li {
    font-size: 20pt;
    margin-bottom: 18px;
}

.post_list li a {
    color: inherit;
    text-decoration: inherit;
}

.post_title {
    margin-bottom: 0;
}

.post_date {
    margin-left: 8px;
    font-weight: bold;
    font-size: smaller;
    color: #606060;
    margin-bottom: 25px;
}

.post_body {
    line-height: 1.45;
}

.post_body hr {
    margin-left: 30%;
    margin-right: 30%;
}

.post_body code.language-plaintext {
    color: inherit;
    background-color: rgba(27, 31, 35, 0.05);;
    border-style: none;
    font-size: 12pt;
}

/* On narrow screens remove the gradient around the content */
@media screen and (max-width: 1000px) {
    body.gradient_body {
        margin: 0;
        padding: 0;
    }

    .container-narrow, .container-wide {
        border-radius: 0;
        margin: 0;
        width: auto;
        /* Reduced padding left and right */
        padding: 10px 15px 30px;
    }

    .promo_image {
        /* Put in line again */
        float: none;
        margin-left: 0;
    }
}

.download_tab {
    display: none;
}

/* This is cheesy - hardcode which tab input applies to which tab. */
#tab1:checked ~ div div#get_fish_osx,
#tab2:checked ~ div div#get_fish_linux,
#tab3:checked ~ div div#get_fish_bsd,
#tab4:checked ~ div div#get_fish_windows,
#tab5:checked ~ div div#get_fish_source
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input.tabselector {
    display: none;
}

:root {
    --active-color: #fff;
    --border-color: #ddd;
    --text-color: #222;
    --link-color: #08c;
    --btn-color: #f5f5f5;
    --main-background: #EEEEFA;
    --jumbotron-color: rgba(238, 238, 250, 0.5);
    --outer-background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%);
}

.dark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --active-color: #282830;
        --border-color: transparent;
        --text-color: #DDD;
        --btn-color: #40404F;
        --main-background: #202028;
        --outer-background: linear-gradient(to top, #1f1f3f 0%,#051f3a 100%);
        --jumbotron-color: rgba(32, 32, 40, 0.5);
    }

    body.gradient_body {
        background: linear-gradient(to top, #1f1f3f 0%,#051f3a 100%);
    }

    .container-narrow {
        box-shadow: 0 0 5px 1px #000;
    }

    .btn-large {
        font-size: larger;
        background-image: unset;
    }

    .logofix {
        /* Add a cheesy white background because the images look awful directly on dark.
        Also pad it a bit so it doesn't end immediately at the image. */
        background-color: #FFF;
        padding: 5px;
        border-radius: 5px;
    }

    .dark {
        display: inline;
    }

    .light {
        display: none;
    }

    hr {
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
    }

    .download_tab > div {
        border: solid #888 1px;
    }
}

#tab1:checked ~ ul.nav-tabs li label.tab1,
#tab2:checked ~ ul.nav-tabs li label.tab2,
#tab3:checked ~ ul.nav-tabs li label.tab3,
#tab4:checked ~ ul.nav-tabs li label.tab4,
#tab5:checked ~ ul.nav-tabs li label.tab5
{
    color: var(--text-color);
    border: 1px solid black;
    cursor: default;
    background-color: var(--active-color);
    border: 1px solid;
    border-color: var(--border-color);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}

.comic-sans {
    font-family: "Comic Sans MS", "Comic Sans", "Comic Mono", "ComicShannsMono Nerd Font Propo", 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, system-ui, sans-serif;
}
