@import url("./fish_style.css");

:root {
    --active-color: white;
    --border-color: transparent;
    --text-color: black;
    --btn-color: #00d2ff;
    --main-background: hotpink;
    --outer-background: linear-gradient(to top, #1f1f3f 0%, purple 100%);
    --link-color: indigo;
    --jumbotron-color: rgba(238, 238, 250, 0.5);
    --inactive-tabs-background: lightgray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --active-color: darkblue;
        --border-color: transparent;
        --text-color: #DDD;
        --btn-color: darkorchid;
        --link-color: cornflowerblue;
        --main-background: purple;
        --outer-background: linear-gradient(to top, #1f1f3f 0%,#051f3a 100%);
        --jumbotron-color: rgba(138, 138, 150, 0.5);
        --inactive-tabs-background: indigo;
    }
}

.btn {
    background-image: unset;
}

body.gradient_body {
    font-family: "Comic Sans MS", "Comic Sans", "Comic Mono", "ComicShannsMono Nerd Font Propo", system-ui, sans-serif;
}

.light {
    display: inline;
}

.dark {
    display: none;
}
